@(updatePassword:Form[UpdatePassword])( implicit messages : Messages, flash : Flash)

@if(updatePassword.hasGlobalErrors) {
<ul>
    @for(error <- updatePassword.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul>
}
<div>
    @header()
</div>

<br/>
<br/>
<br/>
<div >
    <center>
    <table class="table table-bordered" style="width:450px; text-align: center;">
        <tr style="background-color:#0000cc; color:white;">
            <th style="text-align: center;">Forgot Password</th>
        </tr>
@import helper._
        <tr>
            <td>
<div style="background-color:red;">@flash.get("Error")</div>
@helper.form(action = routes.UserController.updatePassword())   {

@helper.inputText(updatePassword("userEmail"), '_label -> "User Email",'_showConstraints-> false)

@helper.inputPassword(updatePassword("password"), '_label -> "Password",'_showConstraints-> false)

@helper.inputPassword(updatePassword("confirmPassword"), '_label -> "Confirm Password",'_showConstraints-> false)

<button type="Submit" class="btn btn-primary">Submit</button>
           }
            </td>
        </tr>
    </table>
    </center>
</div>

